<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-row sticky-top">
  <span class="navbar-brand text-danger" [routerLink]="['/home']" routerLinkActive="active">
    <h1>Chillflix</h1>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav" routerLinkActive="active">
      <a class="nav-item nav-link" [routerLink]="['/home']">Movies</a>
      <a class="nav-item nav-link" [routerLink]="['/home']">Series</a>
      <a class="nav-item nav-link disabled" [routerLink]="['/home']" *ngIf="!loginService.user"><i class="fa fa-star" aria-hidden="true"></i> Favorites</a>
      <a class="nav-item nav-link" *ngIf="loginService.user" (click)='showFavorites()'><i class="fa fa-star"></i> Favorites</a>
      <a class="nav-item nav-link" [routerLink]="['/admin']" *ngIf="loginService.isAdmin()">Admin</a>
    </div>

    <app-search-bar class="ml-auto"></app-search-bar>

    <ul class="navbar-nav ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right sizing bg-light" aria-labelledby="navbarDropdown">
          <h4 class="p-3 text-center ">Suggested for you:</h4>
          <div class="dropdown-divider"></div>
          <app-videoSuggestion [video]="videoSuggestion" (click)="selectVideo(videoSuggestion)" ></app-videoSuggestion>
          <app-videoSuggestion [video]="videoSuggestion2" (click)="selectVideo(videoSuggestion2)"></app-videoSuggestion>
        </div>
      </li>
      <app-login> </app-login>
    </ul>
  </div>
</nav>
